<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Home Remodeling Search</title>
<link rel="stylesheet" href="../static/GreatPage.css">
</head>
<body class ="bodyi">
<div class="topnav">
  <a href="index.html" >Find Remodeling Company</a>
  <a href="Postyourcompany.html">Post Your Company</a>
  <a href="FindEmployer.html">Post Your Skills</a>
  <a class="active" href="jobs.html">Find Jobs</a>
</div>
<div>
    <table>
        {% for joblist in result %}
            {% for info in joblist %}
            <tr>
                <td> {{ info }} </td>
            </tr>
            
            {% endfor %}
        {% endfor %}
    </table>
</div>
</body>
</html> 